.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.tabs button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tabs .active {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ee6264;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.book-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid salmon;
}
.card img {
  width: 100%;
}
.old {
  text-decoration: line-through;
  color: gray;
}
