.deals-container {
  padding: 20px;
}

/* Title Section */
.title-section {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  text-align: center;
}

/* Grid for deals */
.deals-grid {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

/* Left Side: Deal 1 */
.deal-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-left {
  width: 900px;
  height: 733px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border: 0.5px solid #B3B3B3;
  border-radius: 10px;
  margin: 10px auto;
}

.card-media {
  width: 335px;
  height: 366px;
  object-fit: contain;
  margin: 20px auto 0 auto;
  display: block;
}

.deal-description {
  font-size: 1rem;
}
.deal-description:hover{
  cursor: pointer;
  color:#0712B7;

}
.deal-rating {
  margin-top: 1rem;
}

.deal-price {
  font-weight: bold;
  color: #0712B7;
  margin-top: 1rem;
}

/* Right Side: Deals 2-7 */
.deal-right-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-right {
  width: 237px;
  height: 349px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border: 0.5px solid #B3B3B3;
  border-radius: 8px;
  margin: 10px auto;
}

.card-media-right {
  border-radius: 8px 8px 0 0;
  object-fit: contain;
  width: 100%;
  height: 120px;
  margin-top: 2px;
}

.deal-description {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.deal-rating {
  margin-top: 1rem;
}

.deal-price {
  font-weight: bold;
  color: #0712B7;
  margin-top: 1rem;
}
.rating-container {
  display: flex;
  align-items: center;
}

.deal-rating {
  margin-right: 8px; 
}

.deal-rating-count {
  font-size: 16px;
  color:  #757575;
  margin-top: 18px;
}
.illustration-image {
  max-width: 100%;  
  height: auto;       
  display: block;     
}

/* Responsive adjustments for tablets */
@media (max-width: 1024px) {
  .deals-grid {
      flex-direction: column;
      gap: 2%;
  }

  .card-left, .card-right {
      width: 90%;
      height: auto;
  }

  .card-media {
      width: 100%;
      height: auto;
  }
}

/* Responsive adjustments for mobile devices */
@media (max-width: 600px) {
  .deals-grid {
      flex-direction: column;
      gap: 2%;
  }

  .card-left {
      width: 100%;
      height: auto;
      order: -1;
  }

  .card-right {
      width: 100%;
      height: auto;
  }

  .card-media {
      width: 100%;
      height: auto;
  }

  .MuiGrid-container {
      flex-direction: column;
      align-items: center;
  }
}
