/* .dashboard-containers {
  padding: 20px;
  background-color: #f5f5f5;
} */

/* .dashboard-containers {
    margin-left: -0.5%;
    gap: 5px;
  }  */

/* Sales Overview Section */
.sales-overview-container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #e4e7e9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}

.circle-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-progress {
  color: #0818ff;
}

.sales-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
}

.sales-info .MuiTypography-root {
  margin-bottom: 8px;
}

/* Right Info Section */
.additional-info-container {
  background-color: #ffffff;
  padding: 16px;
}

.info-cards {
  background-color: #ffffff;
  padding: 16px;
  width: 132px;
  height: 140px;
  border-radius: 10px;
  border: 1px solid #e4e7e9;
  /* border-radius: 12px; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.card-title {
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}

.extra-info {
  margin-top: 16px;
}

/* Style for the <hr /> tag */
hr {
  border: 0;
  border-top: 1px solid #e4e7e9; /* Light gray color for the horizontal line */
  margin: 16px 0; /* Space above and below the line */
  width: 100%; /* Ensures it spans the full width of its container */
}

/* rightside grid */
.additional-info-containere {
  

}
.info-card {
  text-align: center;
  padding: 16px;
}
.card-icon {
  font-size: 40px;
  color: #3f51b5;
}
.section-heading {
  margin-bottom: 10px;
  font-weight: bold;
}
.dashboard-containere {
  padding: 20px;
}

.additional-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #e4e7e9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.icon-container {
  font-size: 2rem;
  color: #2196f3;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.top-selling-container {
  padding: 20px;
}

.section-heading {
  margin-bottom: 15px;
  font-weight: bold;
}
.top-selling-products-bar {
  border: 1px solid #e4e7e9;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.dashboard_sales_span {
  font-size: 12px;
  font-weight: 500;
}
